// icons
[class^=icon-]{display: inline-block;vertical-align: middle;background-repeat: no-repeat;background-position: 50% 50%;background-size: contain;flex-shrink: 0;}

.icon-aside-arrow{
  width: 10px; height: 5px; background-image: url('../images/icon-arrow.svg');
}

.icon-intro-01{
  width: 81px; height: 82px; background-image: url('../images/icon-intro-01.png');
}
.icon-intro-02{
  width: 69px; height: 69px; background-image: url('../images/icon-intro-02.png');
}
.icon-intro-03{
  width: 75px; height: 76px; background-image: url('../images/icon-intro-03.png');
}
.icon-intro-04{
  width: 75px; height: 77px; background-image: url('../images/icon-intro-04.png');
}
.icon-intro-link{
  width: 18px; height:18px; background-image: url('../images/icon-intro-link.png');
}
.icon-select-arrow{
  width: 8px; height:5px; background-image: url('../images/icon-select-off.svg');
}
.icon-home{
  width: 11px; height: 13px; background-image: url('../images/icon-home.svg');
}
.icon-search{
  width: 19px; height: 12px; background-image: url('../images/icon-search.svg');
}
.icon-plus{
  width: 12px; height: 12px; background-image: url('../images/icon-plus.svg');
}
.icon-minus{
  width: 12px; height: 2px; background-image: url('../images/icon-minus.svg');
}