// icons
[class^=icon-]{display: inline-block;vertical-align: middle;background-repeat: no-repeat;background-position: 50% 50%;background-size: contain;flex-shrink: 0;}

.icon-aside-arrow{
  width: 10px; height: 5px; background-image: url('../images/icon-arrow.svg');
}