
.form-control{
  display: block; 
  width: 100%; 
  border-radius: 4px;
  border: solid 1px #ebebeb;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 4px;
  color: #777;
  background-color: #fff;
  line-height: 1;
  &.white{ background-color: #fff; border: 1px solid #ddd;}
  &::placeholder{ color: #999;}

  // &:focus {
  //   outline: 1px solid #222;
  //   &::placeholder{ color: #222;}
  // }
  &[type="file"] {
    margin-top: 10px;
  }
  &[type="number"]::-webkit-outer-spin-button,
  &[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &:disabled {
    background-color: #fff; color: #ccc; font-weight: 400;
  }

}
.search-form{
  position: relative;
  .form-control{
    padding: 10px 20px;
  }
  .icon-search{
    position: absolute; right: 12px; top: 50%; transform: translateY(-50%);
  }
}
.form-password{
  .input-pw-wrap{
    position: relative;
    &.success {
      .view-pw{
        right: 54px;
      }
      .icon-success {
        display: block; position: absolute; right: 20px; top: 50%; transform: translateY(-50%);
      }
    }
  }
  .view-pw{
    position: absolute; right: 20px; top: 50%; transform: translateY(-50%);
  }
  .icon-success {
    display: none;
  }
}

.input-form{
  display: flex; align-items: center;
  .input-form-label{
    width: 65px; line-height: 1; flex-shrink: 0;
  }
  .form{
    width: 100%; display: flex; gap: 10px;
  }
}

 