
.form-control{
  display: block; 
  width: 100%; 
  border: 1px solid $border-color; 
  font-size: 16px;
  padding: 11px 19px;
  border-radius: 10px;
  color: #000;
  background-color: transparent;
  &.white{ background-color: #fff; border: 1px solid #ddd;}
  &::placeholder{ color: #999;}

  // &:focus {
  //   outline: 1px solid #222;
  //   &::placeholder{ color: #222;}
  // }
  &[type="file"] {
    margin-top: 10px;
  }
  &[type="number"]::-webkit-outer-spin-button,
  &[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &:disabled {
    background-color: #fff; color: #ccc; font-weight: 400;
  }

}
.search-form{
  position: relative;
  .form-control{
    padding: 10px 20px;
  }
  .icon-search{
    position: absolute; right: 12px; top: 50%; transform: translateY(-50%);
  }
}
.form-password{
  .input-pw-wrap{
    position: relative;
    &.success {
      .view-pw{
        right: 54px;
      }
      .icon-success {
        display: block; position: absolute; right: 20px; top: 50%; transform: translateY(-50%);
      }
    }
  }
  .view-pw{
    position: absolute; right: 20px; top: 50%; transform: translateY(-50%);
  }
  .icon-success {
    display: none;
  }
}

.input-form{
margin-bottom: 30px;
  &:last-child{margin-bottom: 0;}
  .input-form-title{margin-bottom:7px;font-size: 14px;line-height:20px;color:#222;}
    &.error{
      .form-control{
        border: 1px solid $danger; color: $danger;
        &:focus{ outline: $danger;}
        &.none-error{
          border: 1px solid #ccc;
        }
      }

      .input-txt{display: block;}
      .select-btn{
        border: 1px solid $danger; 
      }
    }
    /*.input-txt{display: none; color: $danger; margin-top: 10px;}
    .input-info-txt{
      font-size: 14px; color: #666; margin-top: 10px; display: flex; gap: 6px; 
    .input-info-txt-filled{
      line-height: normal; margin-top: 10px;
    }*/
  }
  
 