.form-select{
  width: 100%;  
  border: none;
  border: 1px solid $border-color; 
  font-size: 14px; 
  line-height: 150%;
  padding: 6px 30px 6px 10px;
  color: #222; -webkit-appearance: none; 
  background-image: url('../images/icon-select-arrow.svg');
   background-position: 97% 50%; 
   background-repeat: no-repeat; 
   border-radius: 6px;
   background-color: transparent;
  &.sub-page {background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 8L10 13L5 8' stroke='%23999999' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A"); background-position: 88% 50%;}
  &.select-sm{
    font-size: 12px;
  }
  @include media-breakpoint-up(lg){
    font-size: 15px; padding: 9px 40px 9px 12px;
    &.select-sm{
      font-size: 15px; 
    }
  }
}
.select-group{
  display: flex; gap: 10px;
  @include media-breakpoint-up(lg){
    gap: 20px;
  }
}


//datepicker
.input-icon {
  padding: 9px 12px; border-radius: 4px; border: 1px solid #EEF1F3; display: flex; justify-content: space-between;
  &.sm{
    padding: 5px 12px; 
    .datepicker{
      font-size: 15px; line-height: 1; max-width: 110px;
    }
    @include media-breakpoint-down(lg){
      padding: 4px 8px;
      .datepicker{
        font-size: 13px; max-width: 80px;
      }
      .icon-calendar{ width: 18px; height: 18px;}
    }
  }
  .datepicker {
    border: 0; width: 100%;
  }
  &.slash{
    position: relative;
    &::before{ content: "/"; position: absolute; left: -15px; top: 50%; transform: translateY(-50%); font-size: 14px; color: #999; font-weight: 600;}
    @include media-breakpoint-down(lg){
      &::before{ font-size: 12px; left: -9px;} 
    }
  }
  
}

//selectbx 커스텀
.select-wrap {
  width: 100%; position: relative;
  .select-btn {
    width: 100%; padding: 10px 20px; border: 1px solid #ccc;display: flex; align-items: center; justify-content: space-between; color: #999; font-size: 18px;
  }
  .optionlist {
    border: 1px solid #ccc; border-top: 0; border-radius: 0 0 4px 4px; max-height: 240px; overflow-y: auto; position: absolute; top: 44px; background-color: #FAF9F5; display: none; z-index: 1;
    .optionitem {
      padding: 10px 10px 10px 16px; cursor: pointer; border-top: 1px solid #ccc; color: #333; font-size: 18px;
      &.active {color: #666;}
    }
  }
  &.show {
    .select-btn {
      border-bottom: 0; border-radius: 4px 4px 0 0;
      .icon-select-arrow {transform: rotate(180deg);}
    }
    .optionlist {display: block; width: 100%;}
  }
}
.birth-date{
  display: flex; gap: 18px;
}