#wrap{
  min-width: 1500px; min-height: 100dvh;
  .content{
    width: 100%; display: flex; min-height: calc(100vh - 123px);
  }
  #aside{
    flex: 0 0 260px; border-right: 1px solid #e5e8eb; padding: 12px 30px;
    .menu-list{
      > li{
        padding:24px 0; border-bottom: 1px solid #e5e8eb; cursor: pointer;
        &:last-child{ border-bottom: 0;}
        &.active{
          a{color: #009881;}
          .dep2{ display: block;}
        }
      }
      .dep1{
        display: flex; align-items: center; justify-content: space-between; font-weight: 500;
        .icon-aside-arrow{transform: rotate(0); transition: all .5s;}
        &.active{
          .icon-aside-arrow{transform: rotate(180deg); transition: all .5s;}
        }
      }
      .dep2{
        display: none; padding-top: 16px;
        >li{ 
          width: 100%; padding-bottom: 23px; 
          &.active{ margin: -5px 0;} 
          a{
            font-size: 14px; color: #777; font-weight: 500; padding: 7px 15px;
          }
          &.active{
            a{
              color: #009881; display: block; position: relative;
              &::before{
                content:""; width: 100%; height: 100%; background-color: #f1f3f4; border-radius: 36px; position: absolute; top: 0; left: 0; z-index: -1;
              }
            }
          }
          &:last-child{
            padding-bottom: 0;
          }
        }
      }
    }
  }
  .sub-content{
    width: 100%; padding: 35px 90px 210px; position: relative;
  }
}